<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form id="translate-form" action="" method="post">
                <div class="form-group">
                    <textarea class="form-control" rows="10" placeholder="Request" name="text"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" name="translate-btn" value="translate">Translate</button>
            </form>
        </div>
        <div class="col-md-6">
            <textarea id="translate-answer" class="form-control" rows="10" placeholder="Answer"></textarea>
        </div>
    </div>
</div>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../scripts/script.js"></script>
</body>
</html>